:root {
    --primary-bg-color: #f0f0f0;
    --text-color: #333;
    --main-text-color: #000000;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--main-text-color);
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding-left: 70px;
    padding-top: 10px;
    letter-spacing: 10px;
}

nav {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style-type: none;
    background-color: #caa570;
    padding: 20px;
    border-radius: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    margin: 10px;
}

nav ul li a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: rgb(55, 34, 13);
    text-decoration: none;
}

.image-container {
    margin-top: 10px;
    border: 3px solid #000000;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-image {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: auto;
    transition: transform 0.3s, filter 0.3s;
}

.main-image:hover {
    transform: scale(1.1);
    filter: grayscale(100%);
}

a {
    text-decoration: none;
}

main {
    flex: 1;
    width: 100%;
}

footer {
    background-color: #9f866a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height:120px;
    font-size: 20px;
    margin-top: 50px;
}

/* summary: 
The provided CSS styles define a web page's overall design and layout.

- root: This section sets custom properties for the primary background,
text,and main text colour. 

- body: The body uses a flexbox to align content vertically and horizontally centred with a background image that covers the entire viewport,
ensuring the page occupies at least the full height of the screen.

- header: The header uses a serif font styled with a specific colour and large font size. 
It includes padding and letter spacing to enhance readability and visual appeal.

- nav: The navigation bar is fixed to the right side and vertically centred. 
It includes links with a khaki background styled to appear vertically with a unique font and colour scheme.

- image-container: This class styles the image container with a circular border,padding, and a subtle box shadow for a polished look.

- main-image: The images within the container are circular,
with hover effects to scale up and apply a grayscale filter, adding an interactive element.

- a: Links are styled with no text decoration.

- central: The main content area is flexible enough to fill the remaining space on the page. 

- footer: The footer is styled with a background colour, centred text, and specified height,
providing a cohesive end section to the page.

Overall,
the design creates a visually appealing and interactive web page with a consistent colour scheme,
and typography centred around the site's primary theme.
*/
