body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.section {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#homepage {
    background-image: url('background\ 1.jpg');
    
}

#week2 {
    background-image: url('background\ 2.jpg');
}

#week3 {
    background-image: url('background\ 3.jpg');
}



 .content {
    color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 .content h{
    padding: 100px 510px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-size: 120px;
 }

 .content p{
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
 }




 .answer {
     display: flex;
     flex-direction: column;
     width: 80%;
     margin: auto;
 }
.Q{
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: justify;
    font-size: 20px;
 }
.first {
    align-self: flex-start;
    background-color: #502f19f9;
}

.second {
    align-self: flex-end;
    background-color: #212222;
}


#grid-container {
    margin: 50px;
    width: auto;
    height:auto;
    padding: 10px;
    display:grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}


#grid-container>* {
    width: 280px;
    height: 200px;
    justify-content: center;
    align-content: center;
    text-align: justify;
    color:aliceblue;
    padding: 10px;
    font-size: 16px;
}

#box1 {
    background-color: rgb(55, 54, 54);
}

#box2 {
    background-color: #502f19f9;
    grid-column: 2/3;
    grid-row: 1/2;
}

#box3 {
    background-color: rgb(55, 54, 54);
    grid-column: 3/4;
    grid-row: 2/3;
}

#box4 {
    background-color: #502f19f9;
    grid-column: 4/5;
    grid-row: 3/4;
}

#box5 {
    background-color: rgb(55, 54, 54);
    grid-column: 5/6;
    grid-row: 3/4;
}






